---
---

@import "{{ site.theme }}";

.page-nav {
    background-color: #157878;
    font-size: 1.1rem;
    
    nav {
        margin: 0 auto;
        max-width: 64rem;
        
        @include large {
            padding: 0 6rem;
        }
        
        ul {
            width: 100%;
            min-height: 3em;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: stretch;
    
            list-style-type: none;

            @include large {
                flex-direction: row;
            }

            @include large {
                flex-direction: row;
            }

            @include large {
                flex-direction: column;
            }
    
            li {
                
                a {
                    line-height: 3em;
                    padding: 0 20px;
                    display: block;
                    color: $header-heading-color;
                }
            }
        }
    }
}
